.login
{
	width: 40%;
	min-width: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
}

.new
{
	width: 90%;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: start;
	margin-left: 5vw;
	margin-right: 5vw;
	background-color: aliceblue;
}

.log_form
{
	width: 100%;
	min-width: 302px;
	background-color: aliceblue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0.5em;
}

p
{
	padding: 0;
	margin: 0;
}

.log_form div
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.2em;
}

.log_form div input, .log_form div p
{
	flex-basis: 50%;
}

.log_form input[type=submit]
{
	width: 100%;
	color: #eee;
	background-color: #111;
	padding: 0.5em;
}

.log_text
{
	background-color: #111;
}

.new h2
{
	padding: 1em;
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
	background-color: #111;
}

.item
{
	padding: 0;
	margin: 15px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	justify-content: space-between;
	align-items: center;
	background-color: #111;
	opacity: 0.9;
	transition: opacity 2s;
}

.item_form
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0.3em;
	width: 100%;
}

.item_form div
{
	width: 100%;
	margin: 0.2em;
}

.item_form input
{
	display: block;
	text-align: center;
	margin: 0.1em;
}

body
{
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(img/sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-top: 100px;
	padding: 0;
	font-family: sans-serif;
	color: #eee;
}

.item:hover
{
	opacity: 1;
	transition: opacity 1s;
}

.change_info
{
	background-color: aliceblue;
	color: #111;
	margin-left: 15%;
	width: 70%;
	text-align: center;
}

.past_orders
{
	background-color: aliceblue;
	margin-left: 15%;
	width: 70%;
}

.users
{
	background-color: aliceblue;
	color: #111;
	width: 90%;
	margin-left: 5vw;
	margin-right: 5vw;
}

.categories
{
	background-color: aliceblue;
	color: #111;
	width: 90%;
	margin-left: 5vw;
	margin-right: 5vw;
}

.products
{
	background-color: aliceblue;
	color: #111;
	width: 90%;
	margin-left: 5vw;
	margin-right: 5vw;
}

.edit
{
	background-color: aliceblue;
	color: #111;
	text-align: center;
	width: 50%;
	position: absolute;
	margin-left: 25%;
}

.add
{
	background-color: aliceblue;
	color: #111;
	text-align: center;
	width: 50%;
	position: absolute;
	margin-left: 25%;
}

.filter
{
	background-color: #111;
	width: 90%;
	margin: 0;
	margin-right: 5vw;
	margin-left: 5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.filter div
{
	margin: 0.3em;
}

.filter h3
{
	width: 100%;
}

.order
{
	align-self: center;
}
.order_details
{
	margin-left: 15%;
	width: 70%;
	border: 1px solid grey;
	border-radius: 10px;
	text-align: center;
	margin-top: 20%;
}

table
{
    color: #111;
    background-color: aliceblue;
	margin: 0; 
	width: 100%;
	text-align: center;
	border-spacing: 0;
}

.cart_th
{
	font-weight: 200;
    color: #eee;
    background-color: #111;
    margin: 0;
}

.cart_td
{
	width: 200px;
    color: #111;
	background-color: aliceblue;
    margin: 0;
}

button
{
	text-align: center;
	background-color: #111;
	color: #eee;
	font-size: 1em;
	font-weight: 200;
}

.cart_table tr
{
    color: #111;
    background-color: aliceblue;
}

table tr td
{
    color: #111;
	background-color: aliceblue;
	border-bottom: 1px solid #111;
}

.cart_table tr td input
{
	color: #eee;
	background-color: #111;
	font-size: 1em;
	font-weight: 200;
}
.cart_form
{
    color: #111;
    background-color: aliceblue;
    margin: 0;
}

.body_admin
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

.users table tr td a, .categories table tr td a, .products table tr td a
{
	width:100%;
	padding: 0.1em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	color: #111;
	text-decoration: none;
}

.table_entete
{
	background-color: #111;
	color: #eee;
}

@media screen and (max-width: 600px)
{
	body
	{
		margin-top: 200px;
	}
}

.ajouter a
{
	color: darkred;
	text-decoration: none;
	margin-left: 1em;
}